/target
/data/projects
/data/projects.zip
/data/in_house/c/combine.py
/data/in_house/c/ReposVul_c.jsonl
/data/in_house/java/ReposVul_java.jsonl
.vscode/
.DS_Store
/logs/
/results/
__pycache__/
config.yaml
/figs/*.sketch
/figs/resources/
/related works/