[submodule "src/dependencies/Knighter"]
	path = src/dependencies/Knighter
	url = https://github.com/Feng-Jay/Knighter.git
	branch = master
[submodule "src/dependencies/LLMDFA"]
	path = src/dependencies/LLMDFA
	url = https://github.com/Feng-Jay/LLMDFA.git
	branch = master
[submodule "src/dependencies/INFERROI"]
	path = src/dependencies/INFERROI
	url = https://github.com/Feng-Jay/INFERROI.git
	branch = master
[submodule "src/dependencies/iris"]
	path = src/dependencies/iris
	url = https://github.com/Feng-Jay/iris.git
	branch = master
[submodule "src/dependencies/RepoAudit"]
	path = src/dependencies/RepoAudit
	url = https://github.com/Feng-Jay/RepoAudit1.git
	branch = master
[submodule "src/dependencies/LLMSAN"]
	path = src/dependencies/LLMSAN
	url = https://github.com/Feng-Jay/LLMSAN.git
	branch = master
