[submodule "src/dependencies/RepoAudit"]
	path = src/dependencies/RepoAudit
	url = https://github.com/Feng-Jay/RepoAudit.git
	branch = artifact
[submodule "src/dependencies/Knighter"]
	path = src/dependencies/Knighter
	url = https://github.com/Feng-Jay/Knighter.git
	branch = master
